@import "./_function.scss";
@import "./_reset.scss";  
.bg-img{
    width: 100%;
}
@-moz-keyframes myMove {
  0% {padding-top:rem(30);}
  100% {padding-top:rem(50);}
}
@-webkit-keyframes myMove {
  0% {padding-top:rem(30);}
  100% {padding-top:rem(50);}
}
@-o-keyframes myMove {
  0% {padding-top:rem(30);}
  100% {padding-top:rem(50);}
}
@keyframes myMove {
  0% {padding-top:rem(30);}
  100% {padding-top:rem(50);}
}
.downCanvas{
    display: inline-block;
    width: rem(100);
}
#down {
    position: fixed;
    bottom:rem(30);
    left:50%;
    margin-left: -25px;
  text-align: center;
  height: 150px;
  -moz-animation: myMove 1s linear infinite alternate; 
  -webkit-animation: myMove 1s linear infinite alternate;
  -o-animation: myMove 1s linear infinite alternate;
  animation: myMove 1s linear infinite alternate;
}
.page-loading{
	position: absolute;
	top:0px;
	bottom:0px;
	right:0px;
	left:0px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.spinner {
  width: 60px;
  height: 60px;
  background-color: #36BDDF;
  margin: 100px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}
@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
